<div class= "admin_order_show"><h1 id='alignment'>Order #<%= @order.id %></h1><br>
<p>Customer: <%= @user.full_name %></p><br>
<p>Shipping Address: <%= @user.address %></p><br>

<p>Items Purchased:<br>
  <ul>
    <% @order.items.each do |item| %>
    <br>
      <li><%= link_to item.title, item_path(item) %><br>
        <ul><br>
          <li>Quantity: <%= OrderItem.find_quantity(item, @order) %></li><br>
          <li>Item Price: <%= number_to_currency(OrderItem.find_by(item: item, order: @order).historical_price) %></li><br>
          <li>Subtotal: <%= number_to_currency(OrderItem.find_subtotal(item, @order)) %></li><br>
        </ul>
      </li>
    <% end %>
  </ul>
</p>

<p>Order Quantity: <%= @order.order_items.count %></p><br>
<p>Status: <%= @order.status.titleize %></p><br>
<p>Total Price: <%= number_to_currency(@order.total_price) %></p><br>
<p>Order Submitted @ <%= @order.created_at %></p><br>
</div>

