<h1 class="login">Welcome back <%= @user.username %></h1>

<br>
Check out our collection of Hot Pants!
<br>
Khakis and Chinos...sooo hot right now.
<p><%= link_to "Edit Account", edit_user_path(@user) %></p>

<p><%= link_to "All Orders", orders_path %></p>

<p>Full Name: <%= @user.full_name %></p>
<p>Address: <%= @user.address %></p>
