<h1 id= "order_head">Order #<%= @order.id %></h1>

<p class="bold_purchase_style">Items Purchased:
  <ul>
    <% @order.items.each do |item| %>
      <li class="purchase_style"><%= link_to item.title, item_path(item) %>
        <ul class="purchase_style">
          <li class="purchase_style" >Quantity: <%= OrderItem.find_quantity(item, @order) %></li>
          <li class="purchase_style">Subtotal: <%= number_to_currency(OrderItem.find_subtotal(item, @order)) %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</p>
<p class="purchase_style">Status: <%= @order.status.titleize %></p>
<p class="purchase_style">Total Price: <%= number_to_currency(@order.total_price) %></p>
<p class="purchase_style">Order Submitted @ <%= @order.created_at %></p>

<% if @order.status == ("completed"||"cancelled") %>
  <p>Order <%= @order.status %> @ <%= @order.updated_at %></p>
<% end %>
