<ul>
<% @items.each do |item| %>
  <li>Item: <%= item.title %><br/>
  Description: <%= item.description %><br/>
  Price: $<%= item.price %>
  Quantity: <%= @cart.count_of(item.id) %>
<%# Add thumbnail image %>
<%# image_tag(item.image.thumbnail) %>
  <%= link_to "-", subtract_item_path(item_id: item.id), method: :post %>
  <%= link_to "+", add_item_path(item_id: item.id), method: :post %>
  <%= link_to "Remove", remove_item_path(item_id: item.id), method: :post %>
  </li>
<% end %>
<p>Total Price of Cart: $<%= @cart.total_price %>
</ul>
