<ul>
<% @items.each do |item| %>
  <li>Item: <%= item.title %><br/>
  Description: <%= item.description %><br/>
  Price: $<%= item.price %>
  Quantity: <%= @cart.count_of(item.id) %>
  Subtotal: $<%= @cart.item_subtotal(item.id) %>
<%# Add thumbnail image %>
<%# image_tag(item.image.thumbnail) %>
  <%= link_to "-", subtract_item_path(item_id: item.id), method: :post %>
  <%= link_to "+", add_item_path(item_id: item.id), method: :post %>
  <%= link_to "Remove", remove_item_path(item_id: item.id), method: :post %>
  </li>
<% end %>
<p>Total Price of Cart: $<%= @cart.total_price %>
</ul>

<% if current_user.nil? %>
  <%= link_to "Log In or Create Account", signup_path %>
  <%# right now, this goes straight to the create account path, where there is a link to where they can log in.. is that ok? %>
<% elsif current_user.default? %>
  <%= link_to "Checkout", "/dashboard" %>
  <%# this will need to be routed somewhere else, but for now, I have it going to the dashboard.. will eventually be the orders index for that user I believe. %>
<% end %>
