
<% @items.each do |item| %>
  <ul class = "item_index" >
    <%= image_tag(item.image.thumb) %>
    <li>Item: <%= link_to item.title, item_path(item) %><br/></li>
    <li>Description: <%= item.description %><br/></li>
    <li>Price: <%= number_to_currency(item.price) %><br/></li>
    <% if item.retired? %>
      <div>Item Retired</div>
    <% else %>
      <%= link_to "Add to Cart", carts_path(item_id: item.id) , method: :post %>
    <% end %>
    </ul>
<% end %>
