<!doctype html>
<html>
  <head>
    <title>Littleshop</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="left_header">
      <h1 class = "link home_link">
        <%= link_to image_tag("header_log.png"), root_path%>
      </h1>
      </div>
    <nav>
      <ul>
        <div class="align-right">
          <% if session[:user_id].nil? %>
            <%= render partial: "shared/login_form" %>
            <%= link_to "Create Account", signup_path, class: "link create_account" %>
          <% else  %>
            <%= link_to "Log Out", logout_path, class: "link log_out"%>
          <% end %>
          <% if  current_user && current_user.admin?%>
          <div class="align-cart">
          <%= link_to "View Account", admin_dashboard_path, class: "link account"%>
          <% elsif current_user %>
          Cart: <%= @cart.total_count %>
          <%= link_to "View Cart", '/cart',  class:"view_cart" %>
            <%= link_to "View Account", dashboard_path, class: "link account"%>
          <% else %>
          <div class="align-cart">
          Cart: <%= @cart.total_count %>
          <%= link_to "View Cart", '/cart',  class:"view_cart" %>
            <%= link_to "View Account", root_path, class: "link account"%>
            <% end %>
          </div>
        </div>
    </nav>
      <% flash.each do |type, message| %>
        <%= content_tag :div, sanitize(message), class: type %>
      <% end %>
      </ul>
    </nav>
  </header>

    <section>
  <%= yield %>
    </section>


    <footer></footer>
  </body>
</html>
