<!DOCTYPE html>
<html>
  <head>
    <title>Littleshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body>
  <nav>
    <div class="right_header">
      <a href="/items">
        <img border = "0" alt = "Items_Home" src = "header_logo.jpg" width="150" height = "150">
      </a>
        <%= link_to "Account", root_path %>
    </div>
    <div class="align-right">
      <% if session[:user_id].nil? %>
      <%= render partial: "form" %>
      <%= link_to "Create Account", signup_path %>
      <% else  %>
      Welcome Back
      <%= link_to "Log Out", logout_path %>
      <% end %>
      <div class="align-cart">
        Cart: <%= @cart.total_count %>
        <%= link_to "View Cart", '/cart' %>
      </div>

    </div>
    </nav>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
    <% end %>
    <%= yield %>
  </body>
</html>
